.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

#header{
    background-color: orangered;
}

#userButton{
    display: none;
}
.result-td{
    background-color: darkorange;
}

#div-footer{
    background-color: #222222;
    color: white;
}
.a-footer{
    color: white;
}
th{
    text-align: center;
}

.panelEquipo{
    width: 200px;
    float: left;
    margin: 5px;

}

iframe{
    width: 100%;
    height: 600px;
}

.nombreEquipo{
    margin: 15px;
}

hr{
    border-width: 2px;
    clear: both;
}

img {
    display: block;
    margin: 0 auto;
}

.img-circle{
    float: left;
    height: 100%;
}

.colHeader {
    margin: 0 auto;
}

.tablaResult1 {
    text-align: center;
}

#Imagen {
    width: 100%;
    height: 100%;
}

.colFooter {
    margin-right: 10%;
}

#media-object {
    width: 60px;
}

.comment {
    width: 100%;
}

.mensaje {
    width: 100%;
    heigth: 100%;
}

.googleMap {
    width: 100%;
    height: 300px;
}

.buttonTeam {
    width: 100%;
}

.modalTeam {
    overflow: auto;
}
