
/*html {*/
    /*position: relative;*/
    /*min-height: 100%;*/
/*}*/
/*body {*/
    /*!* Margin bottom by footer height *!*/
    /*margin-bottom: 60px;*/
/*}*/
/*.footer {*/
    /*position: absolute;*/

    /*bottom: 0;*/
    /*width: 100%;*/
    /*!* Set the fixed height of the footer here *!*/
    /*!*height: 60px;*!*/
    /*background-color: gray;*/
/*}*/

/*.footer a {*/
    /*color: white;*/
/*}*/


#header{
    background-color: orangered;
}

#userButton{
    display: none;
}
.result-td{
    background-color: darkorange;
}

#div-footer{
    background-color: #222222;
    color: white;
}
.a-footer{
    color: white;
}
img {
    display: block;
    margin: 0 auto;
}
